* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-kmr-eng.eng-kmr.lrx -text
/apertium-kmr-eng.eng-kmr.t1x -text
/apertium-kmr-eng.eng-kmr.t2x -text
/apertium-kmr-eng.eng-kmr.t3x -text
/apertium-kmr-eng.kmr-eng.dix -text
/apertium-kmr-eng.kmr-eng.lrx -text
/apertium-kmr-eng.kmr-eng.t1x -text
/apertium-kmr-eng.kmr-eng.t2x -text
/apertium-kmr-eng.kmr-eng.t3x -text
/autogen.sh -text
/configure.ac -text
dev/testvoc/bidix-unknowns.sh -text
dev/testvoc/generation.sh -text
dev/testvoc/streamparser.py -text
/modes.xml -text
t/README.org -text
t/config.sh -text
t/latest-pending.results -text
t/latest-regression.results -text
t/pending-tests -text
t/regression-tests -text
t/update-latest -text
t/wiki-tests -text
texts/barzani_newroz.kmr.txt -text
texts/kurdistannews.txt -text
texts/xurm-trans-hand.txt -text
texts/xurmatu.txt -text
